<main>
  <calculator>
    <calculator-display>
      {{ displayText }}
    </calculator-display>
    <calculator-body>
      <calculator-button key="1" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="2" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="3" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="4" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="5" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="6" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="7" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="8" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="9" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="0" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="+" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="-" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="=" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="Clear" (keyEvent)="buttonClick($event)"></calculator-button>
      <calculator-button key="Delete" (keyEvent)="buttonClick($event)"></calculator-button>
    </calculator-body>
  </calculator>
</main>
